body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: #222;
    color: white;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
